.faqs-section{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faqs-left-right-section{
    display: flex;
    margin-top: 40px;
}
.faqs-left{
    margin-right: 200px;
}
.faqs-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faqs-links li{
    margin-bottom: 20px;
    color: hsl(21, 100%, 50%);
    border: none;
    border-radius: 20px;
    width: 200px;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.faqs-links li:hover{
    background-color: hwb(21 65% 2%);
}
.faqs-choice{
    display: flex;
}
.faqs-choice h3{
    display: flex;
    font-size: 20px;
}
.faqs-choice button{
    border: none;
    background: none;
    font-size: 20px;
    color: hsl(21, 100%, 50%);
    position: absolute;
    right: 50px;
}
.faqs-choice:hover{
    color: hwb(21 49% 2%);
}
.faqs-choice-special button{
    border: none;
    background: none;
    font-size: 20px;
    color: hsl(21, 100%, 50%);
    position: absolute;
    right: 50px;
}
.faqs-choice-special:hover{
    color: hsl(21, 100%, 50%);
}
.faqs-choice-special h3{
    display: flex;
    font-size: 20px;
}