.counselling-section-for-services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}
.counselling-left-section img{
    height: 400px;
    margin-right: 50px;
}
.counselling-right-section img{
    height: 400px;
}